#content {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #F0F5F9;
}

#greeting-container {
  margin-top: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #1E2022;
    overflow: hidden;
  }
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #C9D6DF;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #52616B;
    color: #F0F5F9;
}

/* Center text*/
.name{
    margin: auto;
    align-items:center;
    width:750px;
    margin-top: 50px;
    padding: 50px;
}

/* Rounded Headshot image*/
img.rounded{
        border-radius: 50%;
        width: 200px;
        height: auto;
}

/*Centered text*/
.about {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    width: 750px;
    text-align: center;
    padding: 10px;
}

/*Centered header for blog*/
.blogheader{
    margin: auto;
    margin-top: 400px;
}

/*Create blog post*/
.blog{
    margin: auto;
    width: 700px;
    display: block;
    text-align: left;
    border-radius: 25px;
    background-color: #c9d6dF; 
    padding: 10px;   
}
/* Centered contact header*/
.contact{
    margin: auto;
    margin-top: 80px;
}

/* Adjust size and color on icons*/
a{
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    color: #1E2022;
}

 /* Change the color of links on hover */  
a:hover {
    opacity: 0.7;
}

  
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Create box for translate servelt*/
form .translate {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 400px;
    border-radius: 25px;
    background-color: #52616B;
    color: #f2f2f2;
}

/* Create box for form servlet*/
form .client {
    margin: auto;
    text-align: left;
    padding: 20px;
    width: 400px;
    border-radius: 25px;
    background-color: #52616B;
    color: #f2f2f2;
 }

.form-field {
    resize: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
}

input,
label {
    margin: .4rem 0;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
